footer {
  bottom: 0px;
  width: 100%;
}

.footer-container {
  background-color: rgb(246, 71, 64);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

h1 {
  padding: 00;
}

.members-container {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.members-container a {
  text-decoration: none;
  font-size: 13px;
  color: white;
}

.copyright {
}

.copyright p {
  font-size: 8px;
  color: rgb(73, 45, 42);
}
