.header-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 40px;
}

.left-section,
.middle-section,
.right-section {
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 1;
  justify-content: center;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
  padding: 0;
}
