.header-section {
  top: 0px;
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid rgb(230, 230, 230);
  backdrop-filter: var(--bg-blur);
}

.header-container {
  display: flex;
  align-items: center;
  height: 60px;
  max-width: 1200px;
  width: 100%;
  margin: 0;
  padding: 0px;
}

.left-section {
  font-size: var(--font-md);
  font-weight: 900;
}

.left-section a {
  text-decoration: none;
  color: var(--color-success);
}

.middle-section {
  justify-content: center;
}

.right-section {
  display: inline-flex;
  justify-content: flex-end;
}

.left-section {
  flex: 2;
}
.middle-section {
  flex: 5;
}
.right-section {
  flex: 3;
}

.user-login {
  align-items: center;
  text-align: right;
  margin-right: 12px;
}

.username {
  font-size: 0.9em;
  color: var(--color-text);
}

.email {
  font-weight: 300;
  font-size: var(--font-xs);
}

.role {
  color: black;
}

.btn-group a {
  margin-left: auto;
  font-size: var(--font-sm);
}

.nav-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 100%;
}

.btn-group {
  flex-shrink: 0;
  flex-grow: 0;
  width: auto;
}

.btn-4 {
  width: auto;
  padding: 18px;
  margin: 0px;
  text-decoration: none;
  color: var(--font-sm);
  font-size: var(--font-sm);
  transition: all 0.2s ease-in;
}

.btn-4:hover {
  background-color: var(--btn-color);
  color: white;
}

.btn-4:focus {
  background-color: var(--btn-color);
  color: white;
}

.btn-5 {
  padding: 10px 20px;
  font-size: var(--font-sm);
  font-weight: 600;
  color: var(--btn-color);
  text-decoration: none;
  background-color: transparent;
  border: 2px solid var(--btn-color);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-5:hover,
.btn-5.active {
  background-color: var(--btn-color);
  color: white;
}

@media (max-width: 1920px) {
  .header-container {
    max-width: 1200px;
  }
}

@media (max-width: 1440px) {
  .header-container {
    max-width: 1100px;
  }
}

@media (max-width: 1366px) {
  .header-container {
    width: 900px;
  }
}

@media (max-width: 1024px) {
  .header-container {
    max-width: 95%;
  }
}
