main {
  width: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.content {
  width: 60%;
  height: 100%;
  margin: 00 auto;
  padding-top: 70px;
  justify-content: center;
  align-items: center;
}
