.container p {
  text-align: justify;
}

.container {
  justify-content: center;
}

.search-bar {
  display: inline-flex;
  align-items: center;
}

.input-wrapper {
  position: relative;
  width: 300px;
  padding: 10px;
}

.input-with-button {
  width: 100%;
  padding: 15px 50px 15px 15px; /* space for button */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
}

.btn-3 {
  position: absolute;
  padding: 12px 24px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: var(--font-sm);
  transition: all 0.3s ease-out;
}

.btn-3:hover {
  background-color: #cd3c37;
}

.btn-3:active {
  background-color: #f6726d;
}

.dlv-sec {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  background-color: #ffffff;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 15px;
  width: 100%;
}

.dlv-head {
  display: flex;
  align-items: center;
  background-color: rgb(235, 235, 235);
  width: auto;
  min-height: 50px;
  margin: 8px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1.2rem;
}

.hd-1 {
  flex: 2;
}

.hd-2 {
  flex: 3;
  flex-direction: column;
}

.hd-1,
.hd-2,
.hd-3 {
  width: 100%;
  display: flex;
  text-align: left;
  padding: 10px 20px;
}

.tab {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(139, 139, 139);
  margin: 0px 10px;
  padding: 10px 0px;
}
