h1 {
  text-shadow: var(--shadow-def);
}

.order {
  background-image: url(/pages/adminDashboardPage/assets/img/dash-img.png);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -2;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 1600px;
  z-index: 1;
}

.user-dash {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 25px;
}

.stat {
  flex: 4;
  height: 600px;
  flex-shrink: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 15px;
}

input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px;
  margin-top: 4px;
  font-size: 14px;
  padding: 8px 2px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 5px;
}

input:placeholder-shown {
  padding: 6px;
}

.stat form {
  padding-top: 10px;
}

.courier-pick {
  display: flex;
  flex-direction: column;
  flex: 6;
  min-width: 0;
  gap: 10px;
}

.courier-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 20px;
  border: var(--box-highlight);
  backdrop-filter: var(--bg-blur);
  padding: 15px;
  gap: 15px;

  background-color: var(--box-transparent);
  box-shadow: var(--shadow-def);
}

.sh {
  box-shadow: var(--shadow-def);
}

.courier-img {
  width: 150px;
  height: 150px;
  border-radius: 7px;

  background-color: #1c1c1c;
}

.courier-img img {
  width: inherit;
  height: inherit;
}

.info-block {
  min-width: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 25px;
  min-width: 0;
}

.info {
  margin: 8px 0px;
  font-size: var(--font-sm);
}

.choice {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 0px;
}

.sc {
  align-self: flex-end;
}

.grayed-out {
  opacity: 0.4;
  pointer-events: none;
  filter: grayscale(1);
}

.deselect-btn {
  background-color: var(--btn-color-dark);
  color: #fff;
  border-radius: var(--border-radius);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#deliveryResult {
  margin-top: 10px;
  font-weight: bold;
}
