:root {
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --background-color: #f4f7f6;
  --container-bg-color: #ffffff;
  --text-color: #333;
  --border-color: #ddd;
  --input-focus-color: #80bdff;
}

body {
  background-color: var(--color-bg);
}

h2 {
  color: var(--color-action);
}

.overlay {
  position: fixed;
}

.overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  top: 0px;
  animation: breathe 12s ease-in-out infinite;
}

.page {
  align-items: center;
  height: 100vh;
}

.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: var(--box-transparent);
  backdrop-filter: var(--bg-blur);
  border-radius: var(--border-radius);
  width: 370px;
  height: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 30px;
  box-shadow: var(--shadow-def);
  gap: 20px;
  border: var(--box-highlight);
  transition: all 0.2s ease-in-out;
}

label {
  font-size: var(--font-sm);
  color: var(--color-text);
}

input {
  width: 100%;
  margin-bottom: 12px;
  margin-top: 4px;
  font-size: 14px;
  padding: 6px 2px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 5px;
}

input:placeholder-shown {
  padding: 6px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-redirect {
  margin-top: 25px;
  font-size: var(--font-sm);
}

.login-redirect a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}

.login-redirect a:hover {
  text-decoration: underline;
  color: var(--btn-color);
}

.password-message {
  display: block;
  margin-top: 5px;
  font-size: 0.875rem;
  font-weight: bold;
  height: 1.2em;
}

.password-message.match {
  color: #28a745;
}

.password-message.mismatch {
  color: #dc3545;
}

.btn-2 {
  justify-content: center;
  width: 100%;
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* slight zoom */
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  .form-container {
    transform: scale(0.7);
  }
  .page {
    padding-bottom: 50px;
  }
}
