.page {
  background-image: url(/assets/img/grunge-paper-background.jpg);
  z-index: 1;
}

.background {
  position: fixed;
  background-image: url(/assets/img/murimrun-bg4.jpg);
  top: 0px;
  left: 0px;
  height: 100%;
  background-size: cover;
  z-index: -9;
}

.overlay {
  z-index: -8;
  position: absolute;
}

.order-section {
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  gap: 40px;
}

.content {
  display: flex;
  z-index: 1;
  padding: 20px;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.start {
  height: 100vh;
}

.clr h1,
.clr p {
  color: white;
}

.start h1 {
  font-size: var(--font-lg);
}

.select-sect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.content p,
.wh p {
  width: 70%;
}

.sc {
  margin-top: 100px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 200;
  height: auto;
  background-color: var(--box-transparent);
  border-radius: var(--box-radius);
  backdrop-filter: var(--bg-blur);
  border: var(--box-highlight);
  padding: 12px;
  margin: 10px;
}

.sect-photo {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
}

.sect-deets {
  color: var(--color-text);
}

.promises {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 10px;
  padding: 50px;
  background-image: url(/assets/img/grunge-paper-background.jpg);
}
